<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="MediaMain" value="https://artifactory.geo.ci.pexip.com/artifactory/api/nuget/v3/media-nuget-main/index.json" /> -->
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>
