<!--
SPDX-FileCopyrightText: 2026 Copyright 2026 Pexip AS

SPDX-License-Identifier: Apache-2.0
-->

<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MediaMain" value="https://artifactory.geo.ci.pexip.com/artifactory/api/nuget/v3/media-nuget-main/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="CommunityToolkit.*" />
    </packageSource>
    <packageSource key="MediaMain">
      <package pattern="Pexip.*" />
    </packageSource>
  </packageSourceMapping>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>
